h1{
    color: blue;
    background-color:yellow;
}

p{
    color: blue;
    background-color:yellow;
}

h2{
    background-color:gray;
}

ul{
    color: red;
    background-color:gray;
}

a{
    color: green;

}